<%=@founded if @founded != nil%>

<%if @post_to_edit_changed%>
	<%@post_to_edit_changed.each do |data_edited|%>
			Post con id <%=data_edited.id%> editado,
			Titulo cambiado a "<%=data_edited.title%>",
			Autor cambiado a "<%=data_edited.autor%>",
			Data cambiado a "<%=data_edited.body%>"
	<%end%>
<%end%>
<%if @errors%>
	<%=@errors%>
<%end%>
<br>

<!--RENDEREAR POR AUTOR TITLE O ID-->
<form action="/search_post" method="post" id="search_p">
	<input type="text" name="looked_post" placeholder="Por autor, id o titulo" >
	<input type="submit" value="buscar post">
</form>

<%if @looked_post%>
	<%@looked_post.each do |po|%>
		<p> Titulo: <%=po.title%> <br>
		 Autor: <%=po.autor%> <br>
		 Cuerpo: <%=po.body%>

		</p>
	<%end%>
<%end%>

<br>

<!--CREAR nuevo post-->
<h2>Crear nuevo post</h2>
<form class="formulario" action="/postear" method="post" >
  <input type="text"  name="post_autor" placeholder="Autor">

	<input type="text"  name="post_title" placeholder="Titulo">

	<textarea rows="5" cols="50"  name="post_body" placeholder="Post body">
	</textarea>
	<br>

 <!--TAGS-->
 <label for="post_tags">Tags:</label>
	<input id="post_tags" name="post[tags]" value="tag1, tag2, otro tag, cuarto tag">

  <input type="submit" value="enviar post">
</form>
<%if @saved_post_title%>
	<p>Post con titulo "<%=@saved_post_title%>"
	ha sido salvado </p>
<%end%>
<br>


<!--MOSTRAR todos los post-->
<h2>MOSTRAR todos los post</h2>
<form class="" action="/show_all_post" method="GET">
	<input type="submit" value="Ver todos los post">
</form>
<br>
<br>
	<%if @all_posts%>
		<table style="width:100%">
			<tr>
				<th>id</th>
				<th>TITLE</th>
				<th>AUTOR</th>
				<th>BODY</th>
			</tr>
			<%@all_posts.each do |post|%>
			<tr>
				<td><%=post.id%></td>
				<td><%=post.title%></td>
				<td><%=post.autor%></td>
				<td><%=post.body%></td>
			</tr>
			<%end%>
		</table>
	<%end%>





	<h2>EDITAR Post</h2>
	<form class="" action="/edit" method="post">
		<input type="text" name="edit_id" value="" placeholder="ingresar id">
		<input type="submit" name="" value="submit ">
	</form>
	<%if @post_to_edit%>

		<p>Esto es el contenido del post</p>
		<%@post_to_edit.each do |post_data|%>
			<p>
				ID: <%=post_data.id%> <br>
				Title: <%=post_data.title%> <br>
				Autor: <%=post_data.autor%><br>
				Body: <%=post_data.body%>

				<p>Que deseas editar??</p>
				<form action="/update_post/<%=post_data.id%>" method="post" >

				  <input type="text"  name="update_post_autor" placeholder="Autor">

					<input type="text"  name="update_post_title" placeholder="Titulo">

					<textarea rows="5" cols="50"  name="update_post_body" placeholder="Post body">
					</textarea>

					<br>
				  <input type="submit" value="editar">
				</form>

			</p>

		<%end%>
	<%end%>

<h2>Eliminar Post</h2>
<form action="/delete" method="post">
	<input type="text" name="p_id" value="" placeholder="ingresar id">
	<input type="submit" name="" value="Eliminar">
</form>
