<!--RENDEREAR un post particular-->
<form action="show_specific_post" method="post">
	<input type="text" name="looked_post" placeholder="Escribe post a buscar" >
	<input type="submit" value="buscar post">
</form>

<%if @looked_post%>
	<%@looked_post.each do |po|%>
		<p> Titulo:<%=po.title%>
		 Autor:<%=po.autor%>
		 Cuerpo:<%=po.body%>
		</p>
	<%end%>
<%end%>
<%if @errors%>
	<%=@errors%>
<%end%>
<br>

<!--CREAR nuevo post-->
<form class="formulario" action="/postear" method="post" >
  <input type="text" method="post" name="user_post">
  <input type="submit" value="enviar post">
</form>
<!--MOSTRAR todos los post-->
<form class="" action="/show_all_post" method="GET">
	<input type="submit" value="Ver todos los post">
</form>
<br>
<!--RENDEREAR to-->
<br>
	<%if @all_posts%>
		<table style="width:100%">
			<tr>
				<th>id</th>
				<th>TITLE</th>
				<th>AUTOR</th>
				<th>BODY</th>
			</tr>
			<%@all_posts.each do |post|%>
			<tr>
				<td><%=post.id%></td>
				<td><%=post.title%></td>
				<td><%=post.autor%></td>
				<td><%=post.body%></td>
			</tr>
			<%end%>
		</table>
	<%end%>
