<%if @errors%>
	<%=@errors%>
<%end%>
<br>

<!--RENDEREAR un post particular-->
<form action="/search_post" method="post">
	<input type="text" name="looked_post" placeholder="Escribe post a buscar" >
	<input type="submit" value="buscar post">
</form>

<%if @looked_post%>
	<%@looked_post.each do |po|%>
		<p> Titulo: <%=po.title%> <br>
		 Autor: <%=po.autor%> <br>
		 Cuerpo: <%=po.body%>
		 <form class="" action="/edit/<%=po.id%>" method="post">
			<input type="submit" name="post_id" value="editar post">
		 </form>
		</p>
	<%end%>
<%end%>

<br>

<!--CREAR nuevo post-->
<form class="formulario" action="/postear" method="post" >
  <input type="text" method="post" name="post_autor" placeholder="Autor">

	<input type="text" method="post" name="post_title" placeholder="Titulo">

	<textarea rows="5" cols="50" method="post" name="post_body" placeholder="Post body">
	</textarea>
	<br>
  <input type="submit" value="enviar post">
</form>
<%if @saved_post_title%>
	<p>Post con titulo "<%=@saved_post_title%>"
	ha sido salvado </p>
<%end%>
<br>
<!--MOSTRAR todos los post-->
<form class="" action="/show_all_post" method="GET">
	<input type="submit" value="Ver todos los post">
</form>
<br>
<!--RENDEREAR to-->
<br>
	<%if @all_posts%>
		<table style="width:100%">
			<tr>
				<th>id</th>
				<th>TITLE</th>
				<th>AUTOR</th>
				<th>BODY</th>
			</tr>
			<%@all_posts.each do |post|%>
			<tr>
				<td><%=post.id%></td>
				<td><%=post.title%></td>
				<td><%=post.autor%></td>
				<td><%=post.body%></td>
			</tr>
			<%end%>
		</table>
	<%end%>
