<%if @errors%>
	<%=@errors%>
<%end%>
<h2>buscar TAG</h2>
<form action="/show_tag" method="post">
	<label for="tags_searched_tag">Tagss</label>
	<input id="tags_searched_tag" name="tags[searched_tag]" placeholder="ingresa tag">

	<input type="submit" value="buscar tag">
</form>
<br>

<% if @posts %>
	<%@posts.each do |post| %>
		<%@tag_postIDs.each_key do |tag|%>
		<%=tag%>
		<%=@tag_postIDs[tag]%>
			<%=@tag_postIDs[tag].include?(post.id) %><br>

		<%end%>

			ID:<%=post.id%> <br>
			Autor <%=post.autor%> <br>
			Title: <%=post.title%> <br>
			Body: <%=post.body%> <br>
			<p>---------------------</p>
		<% end%>
<% end%>
